In [1]:
import pandas as pd

In [4]:
# Create a DataFrame with the sentences
data = {
    "text": [
        "The cat sat on the mat.",
        "The dog barked loudly at the cat.",
        "The mat was soft and comfortable.",
        "Cats and dogs are common household pets.",
        "The dog chased the ball across the yard."
    ], "output":[1,1,0,0,1]
}
data = pd.DataFrame(data)

In [5]:
data

                                       text  output
0                   The cat sat on the mat.       1
1         The dog barked loudly at the cat.       1
2         The mat was soft and comfortable.       0
3  Cats and dogs are common household pets.       0
4  The dog chased the ball across the yard.       1

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

##Bag of Words
bow = CountVectorizer()
matrix = bow.fit_transform(data['text'])
matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 30 stored elements and shape (5, 23)>

In [8]:
bow.vocabulary_

{'the': 20,
 'cat': 6,
 'sat': 18,
 'on': 16,
 'mat': 15,
 'dog': 11,
 'barked': 5,
 'loudly': 14,
 'at': 3,
 'was': 21,
 'soft': 19,
 'and': 1,
 'comfortable': 9,
 'cats': 7,
 'dogs': 12,
 'are': 2,
 'common': 10,
 'household': 13,
 'pets': 17,
 'chased': 8,
 'ball': 4,
 'across': 0,
 'yard': 22}

In [9]:
###Bi-gram
bigram = CountVectorizer(ngram_range=(2,2))
matrix = bigram.fit_transform(data['text'])
matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 29 stored elements and shape (5, 26)>

In [10]:
bigram.vocabulary_

{'the cat': 21,
 'cat sat': 7,
 'sat on': 18,
 'on the': 17,
 'the mat': 23,
 'the dog': 22,
 'dog barked': 11,
 'barked loudly': 6,
 'loudly at': 15,
 'at the': 4,
 'mat was': 16,
 'was soft': 25,
 'soft and': 19,
 'and comfortable': 1,
 'cats and': 8,
 'and dogs': 2,
 'dogs are': 13,
 'are common': 3,
 'common household': 10,
 'household pets': 14,
 'dog chased': 12,
 'chased the': 9,
 'the ball': 20,
 'ball across': 5,
 'across the': 0,
 'the yard': 24}

In [11]:
###Tri-gram

trigram = CountVectorizer(ngram_range=(3,3))
matrix = trigram.fit_transform(data['text'])
matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 24 stored elements and shape (5, 24)>

In [12]:
trigram.vocabulary_

{'the cat sat': 19,
 'cat sat on': 6,
 'sat on the': 16,
 'on the mat': 15,
 'the dog barked': 20,
 'dog barked loudly': 10,
 'barked loudly at': 5,
 'loudly at the': 13,
 'at the cat': 3,
 'the mat was': 22,
 'mat was soft': 14,
 'was soft and': 23,
 'soft and comfortable': 17,
 'cats and dogs': 7,
 'and dogs are': 1,
 'dogs are common': 12,
 'are common household': 2,
 'common household pets': 9,
 'the dog chased': 21,
 'dog chased the': 11,
 'chased the ball': 8,
 'the ball across': 18,
 'ball across the': 4,
 'across the yard': 0}

In [13]:
###mix-gram
mixgram = CountVectorizer(ngram_range=(1,3))
matrix = mixgram.fit_transform(data['text'])
matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 83 stored elements and shape (5, 73)>

In [14]:
mixgram.vocabulary_

{'the': 58,
 'cat': 19,
 'sat': 52,
 'on': 48,
 'mat': 45,
 'the cat': 61,
 'cat sat': 20,
 'sat on': 53,
 'on the': 49,
 'the mat': 66,
 'the cat sat': 62,
 'cat sat on': 21,
 'sat on the': 54,
 'on the mat': 50,
 'dog': 32,
 'barked': 16,
 'loudly': 42,
 'at': 10,
 'the dog': 63,
 'dog barked': 33,
 'barked loudly': 17,
 'loudly at': 43,
 'at the': 11,
 'the dog barked': 64,
 'dog barked loudly': 34,
 'barked loudly at': 18,
 'loudly at the': 44,
 'at the cat': 12,
 'was': 69,
 'soft': 55,
 'and': 3,
 'comfortable': 28,
 'mat was': 46,
 'was soft': 70,
 'soft and': 56,
 'and comfortable': 4,
 'the mat was': 67,
 'mat was soft': 47,
 'was soft and': 71,
 'soft and comfortable': 57,
 'cats': 22,
 'dogs': 37,
 'are': 7,
 'common': 29,
 'household': 40,
 'pets': 51,
 'cats and': 23,
 'and dogs': 5,
 'dogs are': 38,
 'are common': 8,
 'common household': 30,
 'household pets': 41,
 'cats and dogs': 24,
 'and dogs are': 6,
 'dogs are common': 39,
 'are common household': 9,
 'common household pets': 31,
 'chased': 25,
 'ball': 13,
 'across': 0,
 'yard': 72,
 'dog chased': 35,
 'chased the': 26,
 'the ball': 59,
 'ball across': 14,
 'across the': 1,
 'the yard': 68,
 'the dog chased': 65,
 'dog chased the': 36,
 'chased the ball': 27,
 'the ball across': 60,
 'ball across the': 15,
 'across the yard': 2}

In [16]:
## OHE -> only for categorical data

In [23]:
## TF-IDF 

from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
output = tfidf.fit_transform(data['text'])
tfidf_df = pd.DataFrame(output.toarray(), columns=tfidf.get_feature_names_out())
tfidf_df

,across,and,are,at,ball,barked,cat,cats,chased,comfortable,...,household,loudly,mat,on,pets,sat,soft,the,was,yard
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377343,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.377343,0.467707,0.000000,0.467707,0.000000,0.526996,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.423659,0.000000,0.423659,0.341806,0.000000,0.000000,0.000000,...,0.000000,0.423659,0.000000,0.000000,0.000000,0.000000,0.000000,0.477364,0.000000,0.000000
2,0.000000,0.375386,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.465281,...,0.000000,0.000000,0.375386,0.000000,0.000000,0.000000,0.465281,0.262131,0.465281,0.000000
3,0.000000,0.312840,0.387757,0.000000,0.000000,0.000000,0.000000,0.387757,0.000000,0.000000,...,0.387757,0.000000,0.000000,0.000000,0.387757,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.364966,0.000000,0.000000,0.000000,0.364966,0.000000,0.000000,0.000000,0.364966,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.616846,0.000000,0.364966

In [24]:
data['text']

0                     The cat sat on the mat.
1           The dog barked loudly at the cat.
2           The mat was soft and comfortable.
3    Cats and dogs are common household pets.
4    The dog chased the ball across the yard.
Name: text, dtype: object

In [26]:
tfidf.idf_

array([2.09861229, 1.69314718, 2.09861229, 2.09861229, 2.09861229,
       2.09861229, 1.69314718, 2.09861229, 2.09861229, 2.09861229,
       2.09861229, 1.69314718, 2.09861229, 2.09861229, 2.09861229,
       1.69314718, 2.09861229, 2.09861229, 2.09861229, 2.09861229,
       1.18232156, 2.09861229, 2.09861229])